.App {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	font-family: monospace;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
}

a {
	font-size: 1rem;
	margin-bottom: 1rem;
}

input,
textarea,
button {
	font-size: 1.8rem;
}

a {
	display: block;
}

button {
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding: 0.5rem 2rem;
	color: blue;
	border: 2px solid blue;
	border-radius: 0.5rem;
	background-color: transparent;
	cursor: pointer;
}

.delete {
	color: red;
	width: 100%;
	border: 1px solid red;
	border-radius: 0.3rem;
	background-color: transparent;
	margin: 0;
	padding: 0.3rem 2rem;
	cursor: pointer;
}

.card-link {
	font-size: 2rem;
	text-align: center;
	color: blue;
	text-decoration: none;
	border: 1px solid blue;
	border-radius: 0.3rem;
	background-color: transparent;
	margin-left: 0;
	padding: 0.3rem 2rem;
	cursor: pointer;
}

.books-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	min-height: 480px;
	margin: 0;
	padding: 0.5rem;
	border: 2px solid black;
}

.image-container {
	display: flex;
	width: 400px;
	max-width: 100%;
	margin: 0 auto;
	/* border: 2px solid blue; */
}

.image-container img {
	height: 400px;
	margin: 0 auto;
}

.text-container {
	width: 400px;
}

.text-container-update {
	/* width: 400px; */
}

.empty {
	color: red;
	font-size: 2rem;
}

.link {
	font-size: 2rem;
	margin: 1rem 2rem;
	text-decoration: none;
	color: blue;
	padding: 0.3rem 2rem;
	border: 2px solid blue;
	border-radius: 0.3rem;
	cursor: pointer;
}
